:root {
  --main-dark: #4b3d1c;
  --main-light: #c4b897;
  --border: #ac9d9d;
  --container: #e7e1ad;
  --button-hover: rgb(51, 102, 94);
  --button: rgb(104, 173, 144);
  --light: #f8f6e6;
  --new: rgb(247, 171, 7);
}
$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
